h1, h2, h3, h4, h5, h6 {
    font-family: geneva;
    padding: 8px;
    font-weight: 900;
    color: black;
  }
  h1 {
    text-size: 56px;
  }
  ol {
    font-family: arial;
    padding: 1px;
    font-weight: 100;
    color: White;
  }
   * {
    background: white;
  }
  p {
  color: black;
  font-family: Arial;
  text-align: left;
  padding: 6px;
  }
li {
  display: inline;
  float: left;
}
a {
  display: block;
  padding: 16px;
  background-color: #dddddd;
}